@model IEnumerable<OrganicStore.Models.products>
<title>@ViewBag.Title</title>
@{
    ViewBag.Title = "Products";
}



<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary text1">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarCenteredExample"
                aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#fruits">Fruits (10)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#veggie">Vegetables (15)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#leafyveggie">Leafy Greens (8)</a>
                </li>
            </ul>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>


<section id="fruits" style="background-color: #eee;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4 col-xl-4 ">
                <div class="card text-black">
                    <img src="https://freepngimg.com/download/strawberry/8-2-strawberry-download-png.png"
                         class="card-img-top" alt="strawberry" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Mahabaleswar Strawberry</h5>
                            <p class="text-muted mb-4">
                                Early season with a tangy-sweet taste.
                                Brilliantly red, soft & juicy in nature. For same day consumption.
                                Location of sourcing from Bhilar
                            </p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>Selling Price</span><span>&#8377 95.00</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Original Price</span><span><del>&#8377 120.00</del></span>
                            </div>
                        </div>
                        <a href="#" class="btn cart px-auto">ADD TO CART</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-xl-4 ">
                <div class="card text-black">
                    <img src="https://freepngimg.com/download/strawberry/8-2-strawberry-download-png.png"
                         class="card-img-top" alt="strawberry" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Mahabaleswar Strawberry</h5>
                            <p class="text-muted mb-4">
                                Early season with a tangy-sweet taste.
                                Brilliantly red, soft & juicy in nature. For same day consumption.
                                Location of sourcing from Bhilar
                            </p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>Selling Price</span><span>&#8377 95.00</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Original Price</span><span><del>&#8377 120.00</del></span>
                            </div>
                        </div>
                        <a href="#" class="btn cart px-auto">ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 ">
                <div class="card text-black">
                    <img src="https://freepngimg.com/download/strawberry/8-2-strawberry-download-png.png"
                         class="card-img-top" alt="strawberry" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Mahabaleswar Strawberry</h5>
                            <p class="text-muted mb-4">
                                Early season with a tangy-sweet taste.
                                Brilliantly red, soft & juicy in nature. For same day consumption.
                                Location of sourcing from Bhilar
                            </p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>Selling Price</span><span>&#8377 95.00</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Original Price</span><span><del>&#8377 120.00</del></span>
                            </div>
                        </div>
                        <a href="#" class="btn cart px-auto">ADD TO CART</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<section id="veggie" style="background-color: #eee;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4 col-xl-4 ">
                <div class="card text-black">
                    <img src="https://freepngimg.com/download/onion/34402-5-red-onion-hd.png"
                         class="card-img-top" alt="strawberry" height="300px" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Onion</h5>
                            <p class="text-muted mb-4">Onions of 45-55mm diameter are ideal for home cooking.</p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>Selling Price</span><span>&#8377 46.00</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Original Price</span><span><del>&#8377 51.00</del></span>
                            </div>
                        </div>
                        <a href="#" class="btn cart px-auto">ADD TO CART</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-xl-4 ">
                <div class="card text-black">
                    <img src="https://freepngimg.com/download/onion/34402-5-red-onion-hd.png"
                         class="card-img-top" alt="strawberry" height="300px" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Onion</h5>
                            <p class="text-muted mb-4">Onions of 45-55mm diameter are ideal for home cooking.</p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>Selling Price</span><span>&#8377 46.00</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Original Price</span><span><del>&#8377 51.00</del></span>
                            </div>
                        </div>
                        <a href="#" class="btn cart px-auto">ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 ">
                <div class="card text-black">
                    <img src="https://freepngimg.com/download/onion/34402-5-red-onion-hd.png"
                         class="card-img-top" alt="strawberry" height="300px" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Onion</h5>
                            <p class="text-muted mb-4">Onions of 45-55mm diameter are ideal for home cooking.</p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>Selling Price</span><span>&#8377 46.00</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Original Price</span><span><del>&#8377 51.00</del></span>
                            </div>
                        </div>
                        <a href="#" class="btn cart px-auto">ADD TO CART</a>
                    </div>
                </div>
            </div>

        </div>

    </div>    
</section>
<section id="leafyveggie" style="background-color: #eee;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4 col-xl-4 ">
                <div class="card text-black">
                    <img src="https://freepngimg.com/save/153527-fresh-green-spinach-png-file-hd/600x600"
                         class="card-img-top" alt="strawberry" height="300px" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Spinach - Greenhouse grown</h5>
                            <p class="text-muted mb-4">Sweet and mild in taste, 
                                exceptionally high in iron, 
                                add palak in your paratha or make palak paneer which goes best with butter naan!! Delivered root-cut.</p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>Selling Price</span><span>&#8377 40.00</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Original Price</span><span><del>&#8377 45.00</del></span>
                            </div>
                        </div>
                        <a href="#" class="btn cart px-auto">ADD TO CART</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-xl-4 ">
                <div class="card text-black">
                    <img src="https://freepngimg.com/save/153527-fresh-green-spinach-png-file-hd/600x600"
                         class="card-img-top" alt="strawberry" height="300px" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Spinach - Greenhouse grown</h5>
                            <p class="text-muted mb-4">
                                Sweet and mild in taste,
                                exceptionally high in iron,
                                add palak in your paratha or make palak paneer which goes best with butter naan!! Delivered root-cut.
                            </p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>Selling Price</span><span>&#8377 40.00</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Original Price</span><span><del>&#8377 45.00</del></span>
                            </div>
                        </div>
                        <a href="#" class="btn cart px-auto">ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 ">
                <div class="card text-black">
                    <img src="https://freepngimg.com/save/153527-fresh-green-spinach-png-file-hd/600x600"
                         class="card-img-top" alt="strawberry" height="300px" />
                    <div class="card-body">
                        <div class="text-center">
                                <h5 class="card-title">
                                @if(Model !=null && Model.Any())
                                {
                                    foreach(var product in Model)
                                    {
                                        @product.p_name
                                    }
                                }
                                
                            </h5>
                                <p class="text-muted mb-4">
                                Sweet and mild in taste,
                                exceptionally high in iron,
                                add palak in your paratha or make palak paneer which goes best with butter naan!! Delivered root-cut.
                            </p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>Selling Price</span><span>&#8377 40.00</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Original Price</span><span><del>&#8377 45.00</del></span>
                            </div>
                        </div>
                        <a href="#" class="btn cart px-auto">ADD TO CART</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<a href="#" class="top">Back to Top &#8593;</a>
